@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
  }

  .custom-scrollbar.scrolling::-webkit-scrollbar-thumb {
    background-color: #f9fafb; /* light color */
  }

  .custom-scrollbar.scrolling::-webkit-scrollbar-thumb:hover {
    background-color: #e5e7eb;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}
